.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

textarea {
  margin: 10px;
  width: 300px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  padding: 10px;
  resize: vertical; /* Allows the user to resize vertically */
}
